
.F1{
    text-align: center;
    font-family: 'The Halloween', sans-serif;
    
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .F2{
    background: -webkit-linear-gradient(rgb(170, 2, 2),     rgb(91, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
 
 } 
 .ksz{
   margin-top: 10vh;
   text-align: center;
   font-family: 'The Halloween', sans-serif;
   background-color: rgb(144, 4, 4);
   border: 10px solid rgb(2, 2, 2);
   
}


